/* --------- Global style */

body {
    background-color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #445361;
    text-align: center;
    border: 15px sandybrown;
    padding: 30px;
    margin: 20px;
}

/* --------- Heading */
h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    margin: 15px 0;
    text-align: center;
    color: black;
    background-color: whitesmoke;
}

/* --------- Game layout */
.score-area {
    background-color: whitesmoke;
    box-sizing: border-box;
    width: 95%;
    height: 25vh;
    max-height: 350px;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;

}

/* --------- score area */
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.0rem;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}
.scores{
    margin-left: 1rem;
    font-size: medium;
    color: rgb(7, 7, 7);
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}



/* --------- Buttons  some code taken from - https://javascript.plainenglish.io/building-a-rock-paper-scissors-game-with-javascript-bce23d39509d */

#selection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 100px;
    cursor: pointer;
    

}

#selection button {
    margin: 0 20px;
    padding: 45px;
    border-radius: 70%;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(185, 16, 16);
    font-size: 35px;
    color: rgb(12, 11, 12);
    margin-left: 200px;
    
    
    

}



.userdisplay {
    font-size: 50px;
    color: rgb(175, 47, 164);
    opacity: 5;
}

.computerdisplay{
    font-size: 50px;
    color: rgb(175, 47, 164);
    opacity: 5;
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
    padding: 6px;
}
/* Footer */

footer {
    height: 150px;
    text-align: center;
    padding: 5% 10%;
  }
  
  .social-networks {
    text-align: center;
  }
  
  .social-networks>li {
    display: inline;
  }
  
  .social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
  }