*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    margin: 15px 0;
}
.container{
    display: flex;
}
.container .section{
    width: 350px;
    margin: 20px 50px;
}
.section .scores{
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.scores span , .scores h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: white;
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
    background : rgb(248, 247, 247);
    height: 220px;
}
.display i{
    font-size: 50px;
    color: rgb(175, 47, 164);
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}
.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
}
.selection button{
    margin: 0 20px;
    padding: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background : rgb(250, 248, 248);
    font-size: 33px;
    color: rgb(175, 47, 164);
}
/* rule section - some code taken from competent programming - https://www.youtube.com/watch?v=lV2BMXdsDmc&list=LL&index=20  */ 
.modal-bg {
    display: none;

}
.modal {
    display: none;
}

.rules-button{
    border: 1px solid orangered;
    padding: 5px 25px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.rules-button:hover{

    background-position: left botton;
    color: pink;
}
